{
    "i3": {
        "mqtt_host": "10.13.0.22",
        "wifi_ssid": "foo",
        "wifi_pass": "bar",
        "wifi_ssid_alt": "",
        "wifi_pass_alt": "",
        "ntp": "10.13.0.1",
        "latitude": "42.453725",
        "longitude": "-83.113690".
        "wifi_APs": [
            {
                "name": "Office AP",
                "MAC": "FF:FF:FF:FF:FF:FF"
            },
            {
                "name": "Tool Crib AP",
                "MAC": "FF:FF:FF:FF:FF:FF"
            }
        ]
    },

    "mike": {
        "mqtt_host": "192.168.1.107",
        "wifi_ssid": "foo",
        "wifi_pass": "bar",
        "wifi_ssid_alt": "",
        "wifi_pass_alt": "",
        "ntp": "nl.pool.ntp.org",
        "latitude": "",
        "longitude": ""
    },
    "mark": {
        "mqtt_host": "192.168.1.4",
        "wifi_ssid": "foo",
        "wifi_pass": "bar",
        "wifi_ssid_alt": "",
        "wifi_pass_alt": "",
        "ntp": "nl.pool.ntp.org",
        "latitude": "",
        "longitude": ""
    }
}
